/* A CSS Framework by Mike Stenhouse of Content with Style */

/* FORM ELEMENTS */
form {
	margin: 5px;
	border: 0px solid #781351;
	padding: 10px;
	width: *
}

form table {
	margin: 0;
	padding: 0;
}

form tdLabel {
	text-align: right;
}

form td {
	text-align: left;
}

form div,form p {
	font-size: 1em;
	margin: 0 0 1em 0;
	padding: 0;
}

label {
	vertical-align: middle;
	font-weight: bold;
	margin: 0.5em;
}

fieldset {
	border: 1px solid #eee;
	padding: 5px 10px;
	margin: 0 0 1.5em 0;
}

fieldset legend {
	color: #666;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0 0 0 0px;
	padding: 0;
	background-color: white;
}

* html fieldset legend {
	margin: 0 0 10px -10px;
}

fieldset ul {
	list-style: none;
	margin: 0 0 1.5em 0;
	padding: 0;
}

fieldset ul li {
	list-style: none;
	margin: 0 0 0.5em 0;
	padding: 0;
}

input,select,textarea {
	font-size: 1em;
	font-family: verdana, arial, helvetica, sans-serif;
	margin: 0;
	padding: 2px;
}

input,select {
	vertical-align: middle;
}

textarea {
	width: 200px;
	height: 8em;
}

input.check {
	border: none;
	width: auto;
	height: auto;
	margin: 0;
}

input.radio {
	border: none;
	width: auto;
	height: auto;
	margin: 0;
}

input.file {
	height: auto;
	width: 250px;
}

input.readonly {
	background-color: transparent;
	border: none;
}

input.button {
	width: 10em;
	border: 1px solid black;
	background-color: #ddd;
}

input.image {
	border: none;
	width: auto;
	height: auto;
}

input.submit {
	background: lightblue;
	border: 1px solid blue;
	border-top: 1px solid blue;
}

form div.submit {
	margin: 1em 0;
}

form div.submit input {
	height: 2em;
	width: 15em;
}
/* END FORM ELEMENTS */