#tab_wrapper {
	position: absolute;
	bottom: 0px;
	right: 20px;
	background-color: green;
}

#tab_wrapper a {
	color: black !important;
	text-decoration: none;
	outline: none;
	padding: 5px;
	line-height: 200%;
	display: block;
}

#tab_wrapper a:hover {
	color: black !important;
	background: grey !important;
}

#tab1,#tab2,#tab3 {
	position: relative;
	float: right;
	bottom: 0px;
	background: lightgrey !important;
	font-weight: bold;
	width: auto;
	border-bottom: 2px solid lightgrey;
}

#tab2.current {
	background: white !important;
	border-bottom: 2px solid white;
}

#tab1p {
	
}

#tab2p {
	
}

#tab3p {
	
}