#ja-wrapper {
	width: 100%;
	margin: 0;
	background: #F2F2F2;
}

#ja-headerwrap {
	background: #3399CC;
	color: #CCCCCC;
	line-height: normal;
	height: 80px;
}

#ja-header {
	position: relative;
	height: 80px;
}

.ja-headermask {
	width: 602px;
	display: block;
	background: url(../images/header-mask.png) no-repeat top right;
	height: 80px;
	position: absolute;
	top: 0;
	right: -1px;
}

#ja-header a {
	color: #CCCCCC;
}

h1.logo-text {
	margin: 0 0 0 0;
	padding: 0;
	font-size: 170%;
	text-transform: uppercase;
}

h1.logo-text a {
	position: absolute;
	left: 18px;
	top: 12px;
	color: #FFFFFF !important;
	text-decoration: none;
	outline: none;
}

p.site-slogan {
	margin: 0;
	padding: 2px 5px;
	color: #3399CC;
	background: lightgrey;
	font-size: 92%;
	position: absolute;
	bottom: 20px;
	left: 13px;
}