/* Additional styles for map.jsp page only */
div.field {
	
}

#map {
	height: 512px;
	width: 512px;
	border: 1px solid #ccc;
}

#wrapper1 {
	width: 500px;
}

#scalebar {
	padding-right: 10px;
	padding-top: 10px;
	float: left;
}

#scale {
	float:left;
}

#mouseloc {
	float: right;
}

#note {
	clear: both;
}

#station_form {
	border-style: solid;
	border-width: 0px;
	margin: 5px;
}

#station {
	padding-left: 10px;
	background: #dddddd;
}

#select {
	padding: 10px;
	background: #ddffdd;
}

.select {
	padding: 10px;
	background: #ddffdd;
}

#submit {
	padding-left: 10pt;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #ddddff;
}

#loadingMsg {
	
}

label {
	font-size: 10pt;
	float: left;
	width: 80pt;
	margin-right: 3px;
	float: left;
}

input {
	font-size: 10pt;
	width: 100pt;
	margin-left: 5pt;
	padding: 3px;
}

/* For the map */
.olControlAttribution {
	bottom: 0px !important
} /* avoid pink tiles */
.olImageLoadError {
	background-color: transparent !important;
}